body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h1 {
  color: #3f51b5;
}

.Appbar-slideIn-appear {
  transform: translateY(-100%);
}

.Appbar-slideIn-appear-active {
  transform: translateY(0);
  transition: transform 800ms linear;
}

.AppBar-logo-enter {
  opacity: 0;
}

.AppBar-logo-enter-active {
  opacity: 1;
  transition: opacity 800ms linear 500ms;
}

.AppBar-nav-enter {
  opacity: 0;
  transform: translateX(100%);
}

.AppBar-nav-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 800ms linear;
}

.list__item-enter {}

.list__item-enter-active {
  animation: task 250ms ease-in alternate-reverse;
}

.list__item-exit {
  opacity: 1;
}

.list__item-exit-active {
  animation-duration: 250ms;
  animation-name: task;
}

@keyframes task {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

.filter-enter {
  transform: scale(0);
}

.filter-enterActive {
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}

.filter-exit {
  transform: scale(1);
}

.filter-exitActive {
  transform: scale(0);
  transition: transform 250ms ease-in-out;
}

.errorComp {
  position: fixed;
  top: 87px;
  right: 222px;
}


.alert-enter {}

.alert-enter-active {
  animation: alert 350ms ease-in alternate-reverse;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  animation-duration: 350ms;
  animation-name: alert;
  opacity: 0;
}

@keyframes alert {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: 0.7;
    transform: translateX(-30px);
  }

  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}

/* nav {
  margin-right: auto;
} */